# Temporary files
*.bak
*.tmp

/.config/nvim/plugged
/.gdots
/.local/share

# Other configs
/.atom
/.cache
/.dbus
/.gdfuse
/.gimp*
/.gnome
/.gstreamer*
/.kde4
/.links
/.lyrics
/.mozilla
/.npm
/.steam
/.subversion
/.thumbnails
/.ultrastardx
/.vnc
/.zcompcache
/.vscode
/.devcontainer
