[user]
  name = Thuong Nguyen
  email = thuongnguyen.net@gmail.com
  signingKey = 22D30320

[core]
  editor = 'nvim'
  excludesfile = ~/.gitignore
  pager = delta
  # hooksPath = /Users/tysonnguyen/.sb-git-hooks/hooks
  quotepath = false
  commitGraph = true

[delta]
  syntax-theme = base16-256
  line-numbers = true
  minus-style                   = syntax "#3a273a"
  minus-non-emph-style          = syntax "#3a273a"
  minus-emph-style              = syntax "#6b2e43"
  minus-empty-line-marker-style = syntax "#3a273a"
  line-numbers-minus-style      = "#b55a67"
  plus-style                    = syntax "#273849"
  plus-non-emph-style           = syntax "#273849"
  plus-emph-style               = syntax "#305f6f"
  plus-empty-line-marker-style  = syntax "#273849"
  line-numbers-plus-style       = "#627259"
  line-numbers-zero-style       = "#3b4261"

[push]
  default = current

[alias]
  a = add
  b = branch
  c = commit
  d = diff
  f = fetch
  p = pull
  s = status
  aa = add .
  au = add --update
  ds = diff --stat
  co = checkout
  cob = checkout -b
  cs = commit -S
  cm = commit --message
  cms = commit -S --message
  pu = push
  puu = push -u
  puf = push --force-with-lease
  untracked = status -u .
  untracked-at = status -u
  ls = ls-files
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(dim white)(%an)%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  lg2 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  push-to-all-remotes = !git remote | xargs -I% -n1 git push %
  pull-submodule = submodule foreach git pull origin master
  deloy-heroku = !git aa && git cm "deloy" && git push heroku master
  ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
  stash-staged = !git stash -- $(git diff --staged --name-only)
  update-sub-modules = pull --recurse-submodules

[color]
  ui = auto

[merge]
  tool = vimdiff

[mergetool]
  prompt = false

[http]
	cookiefile = /home/aichan/.gitcookies
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

[includeIf "gitdir:~/ShopBack/"]
  path = ~/.gitconfig-work

[gc]
  writeCommitGraph = true

