[submodule ".zsh/autosuggestions/external"]
	path = .zsh/autosuggestions/external
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/syntax-highlighting/external"]
	path = .zsh/syntax-highlighting/external
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zsh/history-substring-search/external"]
	path = .zsh/history-substring-search/external
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".zsh/completion/external"]
	path = .zsh/completion/external
	url = https://github.com/zsh-users/zsh-completions
[submodule ".zsh/z/external"]
	path = .zsh/z/external
	url = https://github.com/agkozak/zsh-z
[submodule ".zsh/prompt/pure"]
	path = .zsh/prompt/pure
	url = https://github.com/sindresorhus/pure
	branch = main
[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/AstroNvim/AstroNvim
